{% extends "base.html" %}
{% block css_files %}
<link href="{{ static('css/public/areas.css') }}" rel="stylesheet">



{%endblock%}

{% block page_title %}Συχνές Ερωτήσεις{% endblock %}

{% block meta_description %}online delivery{% endblock %}
{% block keywords %}delivery, περίπτερο{% endblock %}


{% block site_css %}
<style type="text/css">
.cnt_form{
	background-color: #fafafa;
	min-height: 500px;
	padding: 60px 10px 60px 10px;
}

.red_star{
	color:red;
	font-size: 18px;
}
h3{
	font-size: 26px;
	color: #2457a5;
	font-weight: bold;
}
/*#how{color:#8B0000;}*/


</style>
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		
		<div class="col-lg-12" id="head_areas">
			Συχνές Ερωτήσεις
		</div>
	</div>



	<div class="row cnt_form" >
		<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<h3>Πως ξεκινάω την παραγγελία μου;</h3>
			Γράφεις την διεύθυνση σου για να δεις ποια περίπτερα κάνουν delivery στην περιοχή σου.
			<h3>Πως κάνω την παραγγελία μου;</h3>
			Διαλέγεις ένα από τα περίπτερα που κάνουν delivery στην περιοχή σου και στην συνέχεια προσθέτεις τα προϊόντα που θέλεις στο καλάθι αγορών σου. <br>
			Μόλις ολοκληρώσεις με τα προϊόντα που θέλεις να παραγγείλεις, προσθέτεις και τα υπόλοιπα στοιχεία σου. <br>
			Ολοκληρώνεις την παραγγελία αποστέλνοντας την στο περίπτερο που έχεις επιλέξει.

			<h3>Σε πόση ώρα θα παραδοθεί η παραγγελία μου;</h3>
			Ο χρόνος παράδοσης της παραγγελίας εξαρτάται από τον φόρτο εργασίας του εκάστοτε
			περιπτέρου και την απόσταση της διαδρομής που θα καλύψει ο deliveras, συνήθως κυμαίνεται στα 15-20 λεπτά.
			<h3>Πως ξέρω αν η παραγγελία μου έχει πραγματοποιηθεί;</h3>
			Με το που ολοκληρώνετε την παραγγελία σας, εμφανίζεται μήνυμα που σας ενημερώνει για την πραγματοποίση της.
			<h3>Τι γίνεται αν θέλω να κάνω κάποια αλλαγή ή να ακυρώσω την παραγγελία μου;</h3>
			Θα πρέπει να καλέσετε απευθείας στο περίπτερο τα στοιχεία του οποίου αναγράφονται στην οθόνη σας με την ολοκλήρωση της παραγγελίας.
			<h3>Πληρώνω περισσότερο όταν παραγγέλνω από το e-peripteras.gr;</h3>
			Όχι, πληρώνετε ακριβώς ό,τι θα πληρώνατε παραγγέλνοντας από το τηλέφωνο. Οι υπηρεσίες του e-peripteras.gr σας παρέχονται εντελώς δωρεάν.

			<h3>Χρειάζομαι πιστωτική κάρτα;</h3>
			Όχι, πληρώνετε με μετρητά στην πόρτα σας όπως θα κάνατε με μια τηλεφωνική παραγγελία.
			<h3>Ποια είναι η χρήση των προσφορών;</h3>
			Ως μέλος της οικογένειας του e-peripteras.gr μπορείτε να εκμεταλλευτείτε προσφορές που θα έχουν συγκεκριμένα περίπτερα ανα τακτά χρονικά διαστήματα.
			<hr>
			Αν έχετε κάποια ερώτηση την οποία δεν απαντήσαμε, επικοινωνήστε μαζί μας κάνοντας <a href="{{ url('public:contact') }}">κλικ εδώ</a>


		</div>
	</div>


</div>

{% endblock %}

{% block site_js %}
<script type="text/javascript">

$(document).ready(function(){	
	$("#navbar ul li a ").removeAttr("style");

});
</script>


{% endblock %}

