.wrp{
    background-color: #fff;
    min-height: 500px;
    margin-top: 100px;
    margin-bottom: 330px;
}

.item{
	padding: 5px;
	background-color: #f6f6f6;
	margin: 0px auto;
	display: inline-block;
	width: auto;
	margin-bottom: 20px;
	max-width: 250px;
	min-width: 120px;
}

.sum{
	padding: 10px;
	background-color: #e33c57;
	color: white;
	width: 200px;
	display: block;
	margin: 0px auto;
}
.red{
	color: red;
	cursor: pointer;
}

.green{
	color: green;
	cursor: pointer;
}

.times{
	border: 1px dotted #e33c57;
	background-color: white;
	padding: 2px;
	margin: 5px;
	display: inline-block;
	min-width: 40px;
	cursor: default;
}




#address input {
	border-color: #8B0000;
	border-radius: 0px;
	font-size: 15px;
}

#address textarea{
	display: block;
	border-color: #8B0000;
	border-radius: 0px;
	font-size: 15px;
	background-color: #f9f9f9;
}

#continue-btn{ 
    margin: 40px auto;
    border-radius: 20px;
    font-size: 17px;
    padding-left: 23px;
    padding-right: 23px;
    color: #2f2f2f;
    background-color: #fbbf58;
    border-color: transparent;
    -webkit-transition:all 100ms linear;
    -moz-transition:all 100ms linear;
    -ms-transition:all 100ms linear;
    -o-transition:all 100ms linear;
    transition:all 100ms linear;
    max-width: 200px;
}

#continue-btn:hover{
    border-color:transparent; 
    color:white;
}



.form-wrp{
    display: block;
    margin: 0px auto;
    max-width: 600px;
}

.form-wrp-right{
	background-color: #eee;
	padding: 15px 10px 5px 10px;
}

#address label {
    display: inline-block;
}

.left{
    width: 150px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    color:#515151;
    text-align: center;
}

.right{
    display: inline-block;
    vertical-align: middle;
}

.right-brd{
	border-left: 1px solid #E33C57;
	min-height: 300px;
}

h3{
	background-color: #eee;
	padding: 10px;
	margin-top: 0px;
	color: #5454A4;
}

#msg{
	display: none;
	position: fixed;
	top: 0px;
	height: 30px;
	background-color: #55a155;
	color: #FFF;
	z-index: 9000;
	width: 100%;
	text-align: center;
	font-size: 17px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.info-center{
	max-width: 500px;
	margin: 0px auto;
}

#edit-address{
	cursor: pointer;
}