
.wrp{
	background-color: #fff;
	min-height: 650px;
	/*margin-top: 100px;*/
	/*margin-bottom: 330px;*/
}

.left-col{
	padding: 0px 80px;
	border-right: 2px solid #b1b1b1;
	margin-top: 100px;
	min-height: 650px;
}
#loginForm,#registerForm{
    max-width: 570px;
    display: block;
    margin: 0px auto;

}
#loginForm input, #registerForm input{
	border-color: #8B0000;
	border-radius: 0px;
	font-size: 15px;
}

#login-btn{ 
    margin: 0px auto;
    margin-top: 137px;
    border-radius: 20px;
    font-size: 17px;
    padding-left: 23px;
    padding-right: 23px;
    color: #2f2f2f;
    background-color: #fbbf58;
    border-color: transparent;
    -webkit-transition:all 100ms linear;
    -moz-transition:all 100ms linear;
    -ms-transition:all 100ms linear;
    -o-transition:all 100ms linear;
    transition:all 100ms linear;
    max-width: 200px;
}

#login-btn:hover{
    border-color:transparent; 
    color:white;
}

#register-btn{ 
    margin: 0px auto;
    /*margin-top: 57%;*/
    border-radius: 20px;
    font-size: 17px;
    padding-left: 23px;
    padding-right: 23px;
    color: #2f2f2f;
    background-color: #fbbf58;
    border-color: transparent;
    -webkit-transition:all 100ms linear;
    -moz-transition:all 100ms linear;
    -ms-transition:all 100ms linear;
    -o-transition:all 100ms linear;
    transition:all 100ms linear;
    max-width: 200px;
}

#register-btn:hover{
    border-color:transparent; 
    color:white;
}

.bold{
	font-weight: bold;
}

#loginErrorMsg{
    color: rgb(230, 83, 109);
    border: medium none;
    margin-bottom: 0px;
}
#loginCoolMsg{
    color: green;
    border: medium none;
    margin-bottom: 0px;
}
ul {
    list-style-type: none;
    padding-left: 0px;
}
#log_reg_wrp{
    background-color: rgba(249, 191, 92, 0.95);
    margin-top: -20px;
    padding: 60px 130px;

}
#log_reg{
    color: #834831;
    font-size: 40px;
}

@media only screen and (max-device-width: 582px) {

    #log_reg_wrp{
        padding: 30px 0px;
        text-align: center;
    }
    #log_reg{
        font-size: 30px;
    }

}

@media only screen and (max-device-width: 991px) {

    .left-col{
        min-height: 150px;
    }
    #login-btn{
        margin-top: 10px;
    }
}
