.wrp{
    background-color: #fff;
    min-height: 650px;
    margin-top: 100px;
    margin-bottom: 330px;
}
.kiosks-wrp{
    padding: 15px;
}
.kiosks-wrp-margin{
    margin-top: 40px;
}

.kiosk-avatar{
    display: inline-block;   
}
.kiosk-info{
    display: inline-block;
    margin-left: 5px;
}

.slide-wrp{
    display: block;
    margin: 20px auto;
    width: 80%;
}

#top-slider .item img{
    display: block;
    width: 100%;
    height: auto;
}

.header{
    padding: 5px;
    font-size: 16px;
    text-align: center;
    color: #515151;
}

.header div{
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    
}

.header div span{
    cursor: pointer;
}

.border{
    border:1px solid #D64B2F;

}

.order-btn{ 
    margin: 0px auto;
    border-radius: 20px;
    font-size: 15px;
    color: #2f2f2f;
    background-color: #fbbf58;
    border-color: transparent;
    -webkit-transition:all 100ms linear;
    -moz-transition:all 100ms linear;
    -ms-transition:all 100ms linear;
    -o-transition:all 100ms linear;
    transition:all 100ms linear;
}

.order-btn:hover{
    border-color:transparent; 
    color:white;
}